@import "./variables";

@mixin form-box {
	display: grid;
	gap: 15px;
	padding: 1em 3em 3em 3em;
	width: 25%;
	min-width: 300px;
	background: $darkest-green;
	border: 2px solid $lighter-green;
	border-radius: 50px;
}

@mixin form-page {
	display: block;
	margin-top: 5em;
}

@mixin form-container {
	display: flex;
	justify-content: center;
}