@import "../styles/variables";


.task-title {
    color: $lightest-green;
    margin-bottom: 5px;
}

.task-modal-details {
    all: initial;
    border: 1px solid $lightest-green;
    border-radius: 10px;
    background: $very-light-grey;
    padding: 1em;
    margin-bottom: 10px;
}

.task-value {
    font-weight: bolder;
    font-size: 20px;
    color: $lightest-green;
    margin: -5px 0 10px 0;
    text-transform: uppercase;
}