@import "../styles/variables";
@import "../styles/mixins";

.tasks-page {
    width: 100%;
    margin: 25px 0 25px 0;
    display: inline-grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-auto-rows: 100%;
    height: 100%;
    overflow: auto;

    div {
        text-align: center;
        color: $darkest-green;
        padding: 0 10px 0 10px;

        h3 {
            margin-top: 0;
            margin-bottom: 35px;
        }
    }

    .border-right {
        border-right: 2px solid $darker-green;
    }
}

.task-btn {
    display: flex;
	justify-content: center;
    border-top: 1px solid $darkest-green;

    button {
        margin: auto;
        margin-top: 2em;
    }
}
