@import "../styles/variables";

.text {
	border-radius: 20px;
	line-height: 2;
	text-align: center;
	font-size: 16px;
	border: 2px solid $lighter-green;
/*	#33cccc;*/
	box-shadow: none;
}

.text:disabled {
	background: $light-grey;
	color: $dark-grey;
	border: 2px solid $dark-grey;
}