@import "../styles/variables";

.app-button {
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 50px;
	width: 100px;
	cursor: pointer;
	border: 2px solid $lightest-green;
	background: $darkest-green;
	color: $lightest-green;
	font-weight: bold;
}

.app-button:disabled {
	cursor: default;
	background: $dark-grey;
	border-color: $light-grey;
	color: $light-grey;
}