@import "../styles/variables";
@import "../styles/mixins";

.quill-display {
    border: none;

    .ql-container {
        border: none !important;
        padding: 10px;
    }
    
    .ql-toolbar {
        display: none !important;
    }
    
    .quill-container {
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        border: 1px solid $lightest-green;
        background: $very-light-grey;
        color: black;
    }
}

