@import "./styles/variables";

a {
	text-decoration: none;
}

.error {
	text-align: center;
	font-size: 10px;
	color: red;
}

.sublink {
	text-align: center;
	font-size: 10px;
}

.sublink a {
	color: $darkest-green;
}